.thumbnail {
    width: 85px;
}

.hotAndTag {
    margin-top: 10px;
    float: right;
    margin-right: 560px;
}

.mb {
    margin-bottom: 0px;
}

/*    轮播图      */
.pl {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding-left: 20px;
}

.widMarginLeft {
    width: 100%;
    margin-right: 100px;
    float: left;
}
.article_editor_titile{

    height: 64px;
    margin: 8px 0;

}
.article_post_button{
    margin: 8px 0;
}